DATABASE_POOL=5
DATABASE_HOST= db
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=password
DATABASE_NAME=cookie_development
TEST_DATABASE_HOST=localhost
TEST_DATABASE_PORT=8080
TEST_DATABASE_USERNAME=root
TEST_DATABASE_PASSWORD=password
TEST_DATABASE_NAME=cookie_test
E_MAIL=
