h2 404 ERROR
h1 お探しのページはございません
p お探しのページは削除されたかURLが変更された、または現在利用できない可能性があります。
p ご不便をおかけし、申し訳ございませんが、しばらく時間をおいた後、
p 改めてアクセスいただくか下記より他のページをご覧ください。
= link_to "トップページへ", root_path

p 繰り返しこのエラー画面が表示される場合は、以下よりお問い合わせください。
= link_to "ここにお問い合わせ", root_path
